version: 2.1

orbs:
  node: circleci/node@4.7

jobs:
  build:
    docker:
      - image: "circleci/node:10.16.0"
    steps:
      - checkout
      - run:
          name: Install `docker-compose`
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - setup_remote_docker:
          docker_layer_caching: false 
      - run:
          name: Build using `docker-compose`
          command: |
            docker-compose -f docker-compose-build.yaml build --parallel
      - run:
          name: Login for Docker Hub
          command: | 
            echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKERHUB_USERNAME --password-stdin
      - run:
          name: Tagging
          command: |
            docker tag udagram-reverseproxy nguyenvudockeracc/udagram-reverseproxy
            docker tag udagram-api-feed nguyenvudockeracc/udagram-api-feed
            docker tag udagram-api-user nguyenvudockeracc/udagram-api-user
            docker tag udagram-frontend:local nguyenvudockeracc/udagram-frontend
      - run:
          name: Push to Docker Hub
          command: |
            docker push nguyenvudockeracc/udagram-reverseproxy
            docker push nguyenvudockeracc/udagram-api-feed
            docker push nguyenvudockeracc/udagram-api-user
            docker push nguyenvudockeracc/udagram-frontend

workflows:
  build:
    jobs:
      - build